@font-face {
    font-family: "logoFont";
    src: url("./asset/Norse-Bold.otf");
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    padding: 0;
    margin: 0;
}

h2.text1 {
    margin-top: 0;
}

.text-logo{
    font-family: "logoFont";
    font-size: 70px;
    color: white;
}

.img-col {
    background-image: url("./asset/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
    height: 120vh;
}

.logo{
    width: 100%;
    height: 20%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color:rgba(0,0,0,0.5);
}


.form-col {
    width: 70%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    padding-top: 100px;
    padding-left: 25px;

}

.form{
    padding-left: 25px;
    flex: 1;
}

.footer{
    background-color: rgb(243, 238, 238);
    box-shadow: 0px -5px 3px rgba(194, 193, 193, 0.75);
    
    padding-bottom: 100px;
    padding-left: 25px;
}

fieldset{
    display: flex;
    justify-content: space-between;
    border: none;
    width: 95%;
    padding-left: 0;
}

div.input-wrapper{
    display: flex;
    flex-direction: column;
    width: 45%;
}

label{
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

input{
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(211, 211, 211, 0.809);
}

input[type='email']:invalid{
    border: 1px solid red;
}
input:focus{
    border: 1px solid blue;
    box-shadow: 3px 3px 3px rgba(194, 193, 193, 0.606);
}

button {
    margin-top: 20px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-size: 1rem;

    border: none;
    border-radius: 3px;

    padding: 10px 40px;
    cursor: pointer
}

button:focus{
    border: none; 
}

button:hover{
    margin-top: 19px; /*add this so that the top border does not get push up.*/
    border: 1px solid green;
    background-color: #4c6d48;
}


h4.foot-text{
    margin-top: 15px;
}

span.login{
    color: #596D48;
}

p.password_error{
    font-size: 15px;
    color: red;
    margin-top: 0;

}

p.password_ok{
    font-size: 15px;
    color: white;
    margin-top: 0; 
}

input[type='password'].password_error{
    border: 1px solid red;
}